<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

	<key>Identifier</key>
	<string>com.controlgroup.cinderApplicationBase</string>

	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.macBase</string>
		<string>com.apple.dt.unit.prefixable</string>
	</array>

	<key>Options</key>
	<array>
		<dict>
			<key>NotPersisted</key>
			<true/>
			<key>Placeholder</key>
			<string>None</string>
			<key>Identifier</key>
			<string>applicationCategory</string>
			<key>Name</key>
			<string>App Store Category</string>
			<key>Description</key>
			<string>The category for your application in the Mac App Store.</string>
			<key>SpecialType</key>
			<string>LSApplicationCategoryType</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key></key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME___-Info.plist:ApplicationCategory</key>
							<string></string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>

        <!-- Combo Box (Create Node Key for Add New File) -->
        <dict>
            <key>Description</key>
                <string>Description</string>
            <key>Identifier</key>
                <string>CINDER_PATH</string>
            <key>Name</key>
                <string>Location (local) of Cinder</string>
            <key>NotPersisted</key>
                <false/>
            <key>Placeholder</key>
                <string>/Users/$(USER)/SDKs/cinder_0.8.3_mac</string>
            <key>EmptyReplacement</key>
                <string>/Users/$(USER)/SDKs/cinder_0.8.3_mac</string>
            <key>SpecialType</key>
                <string></string>
            <key>Type</key>
                <string>text</string>
        </dict>
        <!-- Combo Box End -->



	</array>

	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Release</key>
			<dict>
				<key>ARCHS</key>
				<string>i386</string>
				<key>GCC_VERSION</key>
				<string>com.apple.compilers.llvmgcc42</string>
				<key>OTHER_LDFLAGS</key>
				<string>$(CINDER_PATH)/lib/libcinder.a</string>
				<key>CINDER_PATH</key>
				<string>___VARIABLE_CINDER_PATH___</string>
				<key>HEADER_SEARCH_PATHS</key>
				<string>$(CINDER_PATH)/boost</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>../include $(CINDER_PATH)/include</string>
			</dict>
			<key>Debug</key>
			<dict>
				<key>ARCHS</key>
				<string>i386</string>
				<key>GCC_VERSION</key>
				<string>com.apple.compilers.llvmgcc42</string>
				<key>OTHER_LDFLAGS</key>
				<string>$(CINDER_PATH)/lib/libcinder_d.a</string>
				<key>CINDER_PATH</key>
				<string>___VARIABLE_CINDER_PATH___</string>
				<key>HEADER_SEARCH_PATHS</key>
				<string>$(CINDER_PATH)/boost</string>
				<key>USER_HEADER_SEARCH_PATHS</key>
				<string>../include $(CINDER_PATH)/include</string>
			</dict>
		</dict>
	</dict>


	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>WRAPPER_EXTENSION</key>
				<string>app</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
			
			<key>OtherFrameworks</key>
			<array>
			
			</array>
			<key>Frameworks</key>
			<array>
				<string>Cocoa</string>
				<string>AppKit</string>
				<string>Foundation</string>
				<string>Accelerate</string>
				<string>AudioToolbox</string>
				<string>AudioUnit</string>
				<string>CoreAudio</string>
				<string>QuickTime</string>
				<string>QTKit</string>
				<string>CoreVideo</string>
				<string>Carbon</string>
				<string>OpenGL</string>
			</array>
		</dict>
	</array>


	<key>Definitions</key>
	<dict>
		<key>main.m</key>
		<dict></dict>
		<key>main.m:main</key>
		<dict></dict>

		<key>resources/images/rg_grad.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Images</string>
			</array>

			<key>Path</key>
			<string>resources/images/rg_grad.png</string>
		</dict>

		<key>resources/shaders/passthru.vsh</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Shaders</string>
			</array>

			<key>Path</key>
			<string>resources/shaders/passthru.vsh</string>
		</dict>

		<key>resources/shaders/shader.fsh</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Shaders</string>
			</array>

			<key>Path</key>
			<string>resources/shaders/shader.fsh</string>
		</dict>

		<key>src/___PACKAGENAMEASIDENTIFIER___App.cpp</key>
		<dict>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>src/___PACKAGENAMEASIDENTIFIER___App.cpp</string>
		</dict>

		<key>include/Resources.h</key>
		<dict>
			<key>Group</key>
			<string>Headers</string>
			<key>Path</key>
			<string>include/Resources.h</string>
		</dict>

		<key>include/Constants.h</key>
		<dict>
			<key>Group</key>
			<string>Headers</string>
			<key>Path</key>
			<string>include/Constants.h</string>
		</dict>

		<key>CGCredits.rtf</key>
		<dict>
			<key>Path</key>
			<string>CGCredits.rtf</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>

		<key>Credits.rtf</key>
		<dict>
			<key>Path</key>
			<string>Credits.rtf</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>


		<key>___PACKAGENAME___-Info.plist:ApplicationCategory</key>
		<string>&lt;key&gt;LSApplicationCategoryType&lt;/key&gt;
&lt;string&gt;___VARIABLE_applicationCategory:XML___&lt;/string&gt;
	</string>

			<key>___PACKAGENAME___-Info.plist:Basics</key>
			<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;en&lt;/string&gt;
&lt;key&gt;CFBundleExecutable&lt;/key&gt;
&lt;string&gt;${EXECUTABLE_NAME}&lt;/string&gt;
&lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
&lt;string&gt;6.0&lt;/string&gt;
&lt;key&gt;CFBundleName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;APPL&lt;/string&gt;
&lt;key&gt;CFBundleSignature&lt;/key&gt;
&lt;string&gt;????&lt;/string&gt;
</string>

			<key>___PACKAGENAME___-Info.plist:Mac</key>
			<string>&lt;key&gt;CFBundleIconFile&lt;/key&gt;
&lt;string&gt;&lt;/string&gt;
&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;LSMinimumSystemVersion&lt;/key&gt;
&lt;string&gt;${MACOSX_DEPLOYMENT_TARGET}&lt;/string&gt;
&lt;key&gt;CFBundleVersion&lt;/key&gt;
&lt;string&gt;1&lt;/string&gt;
&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;NSApplication&lt;/string&gt;
</string>
		</dict>


	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Info.plist:Basics</string>
		<string>___PACKAGENAME___-Prefix.pch:Availability</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importCocoa</string>
		<string>___PACKAGENAME___-Info.plist:Mac</string>
		<string>___PACKAGENAME___-Info.plist:ApplicationCategory</string>
		<string>___PACKAGENAME___-Info.plist:NSHumanReadableCopyright</string>
		<string>CGCredits.rtf</string>
		<string>Credits.rtf</string>
		<string>src/___PACKAGENAMEASIDENTIFIER___App.cpp</string>
		<string>include/Resources.h</string>
		<string>include/Constants.h</string>
		<string>resources/shaders/passthru.vsh</string>
		<string>resources/shaders/shader.fsh</string>
		<string>resources/images/rg_grad.png</string>
	</array>
</dict>
</plist>
