<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>

	<key>Identifier</key>
	<string>com.apple.dt.unit.cinderCameraApplication</string>

	<key>Ancestors</key>
	<array>
		<string>com.controlgroup.cinderApplicationBase</string>
	</array>

	<key>Concrete</key>
	<true/>

	<key>Description</key>
	<string>This template builds Cinder OpenGL application that uses a Capture device and loads a simple shader.</string>

	<key>SortOrder</key>
	<integer>2</integer>

	<key>Options</key>
	<array></array>

	<key>Definitions</key>
	<dict>
		<key>resources/shaders/passthru.vsh</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Shaders</string>
			</array>

			<key>Path</key>
			<string>resources/shaders/passthru.vsh</string>
		</dict>

		<key>resources/shaders/shader.fsh</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resources</string>
				<string>Shaders</string>
			</array>

			<key>Path</key>
			<string>resources/shaders/shader.fsh</string>
		</dict>

		<key>src/___PACKAGENAMEASIDENTIFIER___App.cpp</key>
		<dict>
			<key>Group</key>
			<string>Source</string>
			<key>Path</key>
			<string>src/___PACKAGENAMEASIDENTIFIER___App.cpp</string>
		</dict>

		<key>include/Resources.h</key>
		<dict>
			<key>Group</key>
			<string>Headers</string>
			<key>Path</key>
			<string>include/Resources.h</string>
		</dict>

		<key>include/Constants.h</key>
		<dict>
			<key>Group</key>
			<string>Headers</string>
			<key>Path</key>
			<string>include/Constants.h</string>
		</dict>

		<key>en.lproj/CGCredits.rtf</key>
		<dict>
			<key>Path</key>
			<string>CGCredits.rtf</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>

		<key>en.lproj/Credits.rtf</key>
		<dict>
			<key>Path</key>
			<string>Credits.rtf</string>
			<key>Group</key>
			<string>Supporting Files</string>
		</dict>


	</dict>

	<key>Nodes</key>
	<array>
		<string>en.lproj/CGCredits.rtf</string>
		<string>en.lproj/Credits.rtf</string>
		<string>src/___PACKAGENAMEASIDENTIFIER___App.cpp</string>
		<string>include/Resources.h</string>
		<string>include/Constants.h</string>
		<string>resources/shaders/passthru.vsh</string>
		<string>resources/shaders/shader.fsh</string>
	</array>
</dict>
</plist>
